<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>優秀人物投票評選管理系統 - 登入</title>
    <link rel="stylesheet" type = "text/css" href="/css/style.css">
    <style>
        .sys-title{
            color: #fff;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            line-height: 80px;
        }
    </style>
</head>
<body>
    <div class = "main">
        <div class = "mainin">
            <div class = sys-title>
                優秀人物投票評選管理系統
            </div>
            <form action="/admin/user/login" method="post" class = "mainin1">
                <ul>
                    <li>
                        <input type="text" name="username" value="admin" autocomplete="off" placeholder="使用者名稱" class = "SearchKeyword">
                    </li>

                    <li>
                        <input type="text" name = "password" value = "admin" autocomplete="off" placeholder="密碼" class = "SearchKeyword2">
                    </li>

                    <li>
                        <button class = "tijiao">登入</button>
                    </li>

                    <li style="color: red">
                        <%=msg %>
                    </li>
                </ul>
            </form>
        </div>
        <img src="/images/loading.gif" alt="" id = "loading" style="display: none;position: absolute">
        <div id = 'POPLoading' class = "cssPOPLoading">
            <div style = "height: 110px;border-bottom: 1px solid #9a9a9a">
                <div class = "showMessage"></div>
            </div>
            <div style = "line-height: 40px;font-size: 14px; letter-spacing: 1px">
                <a onclick="puc()">確定</a>
            </div>
        </div>
    </div>
</body>
</html>