<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width,initial-scale = 1">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <title>所有候選物件</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px">
    <legend>所有候選物件</legend>
</fieldset>

<div id="add" v-cloak>
    <h1>aaaa</h1>
    <table class="layui-table">
        <thead>
        <tr>
            <th>照片</th>
            <th>姓名</th>
            <th>個人簡介</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in list" :key="item._id">
            <td>
                <img :src="item.photo" width="80px" height="80px">
            </td>
            <td>{{item.name}}</td>
            <td>{{item.desc}}</td>
            <td>
                <button class="layui-btn layui-btn-normal layui-btn-xs" @click="update(item)">修改</button>
                <button class="layui-btn layui-btn-normal layui-btn-xs" @click="del(item)">刪除</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="page"></div>
</div>

<script src="/js/vue.min.js"></script>
<script src="/js/jquery-3.7.1.js"></script>
<script src="/layer/layer.js"></script>
<script src="/layui/layui.js"></script>

<script>
    var vm = new Vue({
        el:"#app",
        data:{
            count:0,
            pageSize:10,
            page:1,
            totalPage:0,
            list:[],
            laypage:{}
        },
        created(){
            this.getData();
        },
        mounted(){
            this.updatePage();
        },methods:{
            getData(){
                var _this = this;
                $.post('/admin/person/findall',{
                    page:this.page,
                    pageSize:this.pageSize
                }, function (res){
                    _this.list = res.data;
                    _this.page = res.page;
                    _this.pageSize = res.pageSize;
                    _this.count = res.count;
                    _this.totalPage = Math.ceil(_this.count/_this.pageSize);
                    console.log(`count = ${_this.count}`);
                    console.log(`limit = ${_this.pageSize}`);
                    console.log(`curr = ${_this.page}`);
                })
            },
            del(name,id){
                var _this = this;
                layer.confirm(`確定要刪除${name}嗎?`,{
                    btn:['確定','取消']
                },function(){
                    $.post('/admin/person/del',{id:id},function(res){
                        if (res.code === 200){
                            this.getData();
                            layer.msg('刪除成功');
                        }else{
                            layer.msg('刪除失敗',{icon:2});
                        }
                    })
                })
            },
            update(person){
                sessionStorage.person = JSON.stringify(person);
                location.href = '/page/admin/person/update';
            },
            updatePage(){
                var _this = this;
                console.log("count "+_this.count);
                console.log('limit '+_this.pageSize);
                console.log('curr '+_this.page);
                layui.use(['laypage'],function (){
                    laypage = layui.laypage;
                    laypage.render({
                        elem:'page',
                        count: _this.count,
                        limit:_this.pageSize,
                        curr:_this.page,
                        jump:function(obj,first){
                            if (!first){
                                console.log('first')
                                _this.page = obj.curr;
                                _this.getData();
                            }
                        }
                    });
                });
            }
        }
    });
</script>

</body>
</html>